.news {
  background-image: url("../img/news/bg-news.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
.news .content {
  margin-top: 35px;
  margin-bottom: 35px;
}
.news .content .name h2 {
  color: black;
  font-size: 55px;
  font-family: "MuseoCyrl700", serif;
  margin-bottom: 25px;
}