.games-page {
  font-family: "MuseoCyrl100", serif;
}
.games-page h2 {
  font-size: 55px;
  font-family: "MuseoCyrl700", serif;
}
.games-page h5 {
  font-size: 25px;
  font-family: "MuseoCyrl700", serif;
}